<div id="center">
  <a style=" margin-top: 30px;margin-right: 90px;" class="btn btn-large disabled" > تغريده جديدة مجدولة :</a>
<div style="margin-top: 0px;margin-right: 0px;">
 <form style="margin-top: 60px;margin-right: 30px;" action="tweetTOk.php" method="POST" class="form-horizontal">

    <div class="control-group">

    <div class="controls">


</select>
    <textarea rows="4" id="tw" name="txtwi" placeholder="غرد هنا" ></textarea>
    </div>
    </div>
    <div class="control-group">
    <div class="controls">
    <button  type="submit" class="btn btn-large btn-success"> حفظ التغريدة</button>
    </div>
    </div>
    </form>

  <div style=" margin-top: 60px;margin-right: 90px;">
  <a class="btn btn-large btn-warning" href="tweet.php" > التغريدات المجدولة</a>
    <a class="btn btn-large btn-info" href="index.php" > العودة للرئيسية</a>
  </div>
</div>
 </div>