<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="bootstrap/ico/favicon.ico">

    <title>الاعضاء</title>

     <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.rtl.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h2 class="masthead-brand">تطبيق مغرد</h2>
              <ul class="nav masthead-nav">
                <li><a href="#">   الرئيسية</a></li>
                
                <li><a href="#">عن الخدمة</a></li>
                
                <li><a href="#">اتصل بنا</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
<div id="center">
  <h2> تغريده جديدة مجدولة :</h2>
<div style="margin-top: 0px;margin-right: 0px;">
 <form style="margin-top: 60px;margin-right: 30px;" action="tweetTOk.php" method="POST" class="form-horizontal">

    <div class="control-group">

    <div class="controls">

    <textarea rows="4" id="tw" name="txtwi" placeholder="غرد هنا" ></textarea>
    </div>
    </div>
    <div class="control-group">
    <div class="controls">
    <button  type="submit" class="btn btn-large btn-success"> حفظ التغريدة</button>
    </div>
    </div>
    </form>


</div>
 </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>برمجة : <a href="http://waseethost.com/">الوسيط هوست</a> جميع الحقوق محفوظه للوسيط هوست.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/docs.min.js"></script>
  </body>
</html>
