<div id="index">
<div id="header">
<h1>لوحة التحكم</h1>
<a class="btn btn-info" href="" > <i class="icon-home"></i> الرئيسية</a>     
</div>
<div id="center">
<div id="rtl">
     <ul class="nav nav-list list-group">
    <li class="active"><a href="?go=TimeTwitterV"><i class="icon-home icon-white"></i> الرئيسيه</a></li>
    <li><a href="?go=TimeTwitter"><i class="icon-edit"></i> جدولة التغريدات</a></li>
     <li><a href="?go=TimeTwitterV"><i class="icon-edit"></i>  التغريدات المجدولة  </a></li>
     <li><a href="?go=Section"><i class="icon-edit"></i>أضافة الاقسام</a></li>
    <li><a href="?go=website"><i class="icon-wrench"></i> إعدادات الموقع</a></li>
     <li><a href="?go=users"><i class="icon-user"></i> عرض المشتركين</a></li>
     <li><a href="?go=Manager"><i class="icon-lock"></i> تغير كلمة المرور</a></li>
    <li><a href="?go=Statistics"><i class="icon-comment"></i> إحصاءات</a></li>
     <li><a href="?go=Upgrade"><i class="icon-repeat"></i> البحث عن تحديث</a></li>
    <li><a href="?go=logoff"><i class="icon-ban-circle"></i> تسجيل الخروج</a></li>
    </ul>

</div>
<div id="ltr">
<?php
@require_once($ltr);
?>
</div>
</div>
<div></div>
</div>