<div id="logged">
    <form action="logged.php" method="POST" class="form-horizontal">
    <div class="input-group input-group-lg">
    <label class="control-label" for="inputusername">أسم المستخدم</label>
    <div class="controls">
    <input type="text" id="inputusername" name="username" placeholder="اسم المستخدم">
    </div>
    </div>
    <div class="input-group input-group-lg">
    <label class="control-label" for="inputPassword">الرقم السري</label>
    <div class="controls">
    <input type="password" name="password" id="inputPassword" placeholder="الرقم السري">
    </div>
    </div>
    <div class="control-group">
    <div class="controls">

    <button type="submit" class="btn">تسجيل الدخول</button>
    </div>
    </div>
    </form>
</div>
<div id="logged1">
<img src="template/images/twitter-icon.png" alt="" >
</div>