
 <div id="manager">

    <form action="Manager.php" method="POST" class="form-horizontal">
    <div class="control-group">
    <label class="control-label" for="inputPassword">الرقم القديم</label>
    <div class="controls">
    <input name="Password1" type="Password" id="inputPassword">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputPassword">الرقم السري الجديد</label>
    <div class="controls">
    <input name="Password2" type="Password" id="inputPassword">
    </div>
    </div>
    <div class="control-group">
    <div class="controls">
   
    <button type="submit" class="btn">تحديث</button>
    </div>
    </div>
    </form>
 </div>
