  <div id="tabletwi"  style="	border: 2px solid #C0DEED ;width:500px; height:300px; overflow: auto;">
  
   <table class="table table-bordered">
    <thead>
    <tr>
    <th>القسم</th>
    <th> نص التغريده</th>
    <th> تعديلات</th>
    </tr>
    </thead>
    <tbody>
<?php
require_once('./../config/dbconfig.php');
$tweetsT = mysql_query("SELECT * FROM `tweetsT`") or die(mysql_error());

while($rows = mysql_fetch_assoc($tweetsT))
{
//	$rows['id'] 	$rows[' timestamp'] 	$rows['tweet']
echo '
    <tr>
    <td><br />'.$rows['section'].'</td>
    <td><textarea style="width: 480px; height: 60px;" rows="4">'.$rows['tweet'].'</textarea></td>
     <td><br /><a class="btn btn-danger" href="DT.php?id='.$rows['id'].'" > حذفها</a> </td>
    </tr>
	';
}
?>
    </tbody>
    </table>


  
  </div>