    <form  action="twi.php" method="POST" class="form-horizontal">

    <div class="control-group">
<h3>تغريدة جديدة </h3>
    <div class="controls">
    <textarea rows="4" id="tw" name="txtwi" placeholder="غرد هنا" ></textarea>   
    <img src="./../images/Twitter-Shipping-Box-icon.png" alt="" >
    </div>
    </div>
    <div class="control-group">
    <div class="controls">
    <button id="login" type="submit" class="btn">غرد للكل</button>
    </div>
    </div>
    </form>
    
<div id="msg"></div>